# Question 1:
Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,

In [1]:
expense = [{'January': 2200},
           {'February': 2350},
           {'March': 2600},
           {'April': 2130},
           {'May': 2190}]

In [ ]:
expense = [{'January': 2200,
           'February': 2350,
           'March': 2600,
           'April': 2130,
           'May': 2190}

### 1. In Feb, how many dollars you spent extra compare to January?

In [18]:
Jan_expense = expense[0].get('January')
Feb_expense = expense[1].get('February')
Mar_expense = expense[2].get('March')

In [21]:
extra = Feb_expense - Jan_expense
print(f'Extra spending is {extra} dollars.')

Extra spending is 150 dollars.

### 2. Find out your total expense in first quarter (first three months) of the year.

In [22]:
quarter = Jan_expense + Feb_expense + Mar_expense
print(f'Quarterly expense is {quarter} dollars')

Quarterly expense is 7150 dollars

### 3. Find out if you spent exactly 2000 dollars in any month

In [32]:
# [i for i in expense if expense[i].values() == 2000 return True]

In [31]:
for i in expense:
    for value in i.values():
        if value == 2000:
            print("True")
        else:
            print('False')

False
False
False
False
False

### 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list

In [33]:
expense.append({'June': 1980})
expense

[{'January': 2200},
 {'February': 2350},
 {'March': 2600},
 {'April': 2130},
 {'May': 2190},
 {'June': 1980}]

### 5. You returned an item that you bought in a month of April and got a refund of 200 dollars. Make a correction to your monthly expense list based on this

In [34]:
expense[3]

{'April': 2130}

In [35]:
expense[3] = {'April': 1930}

In [36]:
expense

[{'January': 2200},
 {'February': 2350},
 {'March': 2600},
 {'April': 1930},
 {'May': 2190},
 {'June': 1980}]

# Question 2: You have a list of your favourite marvel super heros.

In [37]:
heros=['spider man','thor','hulk','iron man','captain america']

### 1. Length of the list

In [38]:
len(heros)

5

### 2. Add 'black panther' at the end of this list

In [39]:
heros.append('black panther')
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

###  3. You realize that you need to add 'black panther' after 'hulk', so remove it from the list first and then add it after 'hulk'

In [40]:
heros.remove('black panther')
heros.insert(3, 'black panther')
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

### 4. Now you don't like thor and hulk because they get angry easily :) So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool). Do that with one line of code.

In [44]:
heros[1] = 'doctor strange'
heros
# how did this happen?

['spider man',
 'doctor strange',
 'black panther',
 'iron man',
 'captain america']

### 5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [45]:
heros.sort()
heros

['black panther',
 'captain america',
 'doctor strange',
 'iron man',
 'spider man']

# Question 3: Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [52]:
max_num = int(input('Enter a max number: '))
odd_nums = []
for i in range(1, max_num+1):
    if i%2 != 0:
        odd_nums.append(i)
print(odd_nums)

Enter a max number: 69
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69]